@page "/subjects"
@using TeachingAssistant.Data.Entities
@using TeachingAssistant.StudentUI.Services
@inject ApiClient ApiClient
@inject NavigationManager Navigation

<h3>Select a Subject</h3>

@if (subjects == null)
{
    <p>Loading subjects...</p>
}
else
{
    <div class="row">
        @foreach (var subject in subjects)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@subject</h5>
                        <p class="card-text">Continue learning @subject</p>
                        <button class="btn btn-primary" @onclick="() => SelectSubject(subject)">
                            Start Learning
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Subject>? subjects;
    private Guid studentId = Guid.Parse("00000000-0000-0000-0000-000000000001"); // TODO: Get from auth

    protected override async Task OnInitializedAsync()
    {
        subjects = Enum.GetValues<Subject>().ToList();
    }

    private void SelectSubject(Subject subject)
    {
        Navigation.NavigateTo($"/learn/{subject.ToString()}");
    }
}
