@page "/curriculum"
@using TeachingAssistant.Data.Entities
@using TeachingAssistant.ParentUI.Services
@inject ApiClient ApiClient

<PageTitle>Curriculum Browser</PageTitle>

<h1>Curriculum Browser</h1>

<div class="row mb-3">
    <div class="col-md-4">
        <label>Subject:</label>
        <select class="form-select" @bind="selectedSubject">
            <option value="">All Subjects</option>
            @foreach (var subject in Enum.GetValues<Subject>())
            {
                <option value="@subject">@subject</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <label>Grade Band:</label>
        <select class="form-select" @bind="selectedGradeBand">
            <option value="">All Grades</option>
            @foreach (var grade in Enum.GetValues<GradeBand>())
            {
                <option value="@grade">@grade</option>
            }
        </select>
    </div>
</div>

<p>Curriculum browser functionality - browse available content units by subject and grade level.</p>
<p><em>Note: Full curriculum browsing requires content unit API endpoints.</em></p>

@code {
    private Subject? selectedSubject;
    private GradeBand? selectedGradeBand;
}
